.info {
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    background: #eee;
    max-width: 50%;
    margin: 1rem auto;
    padding: 1rem;
}

.info h1 {
    color: #777;
    text-align: center;
}

.lbl {
    font-size: 75%;
    color: #777;
}

.ctrl {
    background-color: #fff;
    border: 1px solid tomato;
    padding: 1em;
    border-radius: 1rem;
}

.ctrl-child {
    background-color: #fff;
    border: 1px solid greenyellow;
    padding: 1em;
    border-radius: 1rem;
}